{% extends "base.html" %}

{% block title %}
    Articles list
{% end %}

<ul>
{% block content %}
        {% for post in posts %}
            <li> Autor: {{ post.author }} </li>
            <li> Titulo: {{ post.title }} </li>
            <li> Artigo: {{ post.content }} </li>
            <li> Publicado em: {{ post.publish_date }} </li>
            </p>
        {% end %}
{% end %}
</ul>